.CardSerie{
  background-color: var(--back-color);
  max-width: 200px ;
  border-radius: 10px;
  margin: 15px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.img-header {
  background-image: url("https://image.tmdb.org/t/p/w200/3PTSJkYECKe2nSirjwiogtqVvgm.jpg");
  padding: 150px 100px;
  border-radius: 10px 10px 0 0;
  background-repeat: no-repeat;
}

CardSerie .score {
  display: flex;
  align-items: center;
}

.CardSerie .score span{
  color: var(--destak-color);
  margin: 10px;
}

.CardSerie h2, h3{
  margin: 0 0 0 10px;
}

.CardSerie h3{
  opacity: 70%;
  font-weight: lighter;
  font-size: 14px;
}

.FavButton{
  position: absolute;
  padding: 10px;
  text-shadow: 1px 1px 10px #000000;
}


.btn-detail, .btn-detail:visited{
  color: #ffffff;
  background-color: var(--primary-color);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.btn-detail:hover{
  opacity: .4;
  transition: .4s;
}

.btn-detail span{
  margin-right: 10px;
}








