
.Header{
    background-color:var(--back-color);
    display: flex;
    padding: 10px;
    justify-content: space-between;
  }
  
  .Logo{
    background: var(--destak-color);
    border-radius: 47px;
    font-family: Anton, sans-serif;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.165em;
    padding: 10px 30px;
  }
  
  .Header form input{
    border-radius: 10px;
    border: 0;
    width: 400px;
    height: 2rem;
    margin: 0 10px;
    font-family: Roboto;
    font-size: 20px;
  }

  .Header form button{
    background-color: var(--destak-color);
    border: none;
    border-radius: 10px;
    height: 2rem;
    width: 100px;
    font-family: Anton, sans-serif;
    text-transform: uppercase;
    letter-spacing: .2rem;
    cursor: pointer;
  }
  