@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


.App{
  background-color: #000000;
  min-height: 100vh;
  --destak-color: #F5C53B;
  --back-color: #2c2c2c;
  --primary-color: #5899EB; 
}

.tabs{
  display: flex;
  width: 100%;
}

 .content{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
 }

 a{
  text-decoration: none;
  display: flex;
  margin: 20px;
  padding: 5px;
}
