@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.App {
  background-color: #000000;
  min-height: 100vh;
  text-align: center;

  --background-item-color: #2c2c2c;
  --destak-color: #F5C53B;
  --primary-color: #5899EB;
}

.content{
  display: flex;
}

